    {% extends "base.html"%}
    {%block title%}User Data{%endblock%}
    {% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/userdata.css')}}">

    </head>

    <body>
        <div class="container light-style flex-grow-1 container-p-y">
            <h1 style="text-align: center;">DATA USER</h1>

            <div class="table-responsive">
                <table class="table table-bordered" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Username</th>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Company</th>
                            <th>Phone</th>
                            <!-- <th>Is Admin</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            {% if row[9] != True %}
                            <td>{{loop.index}}</td>
                            <td>{{ row[1] }}</td> <!-- Username -->
                            <td>{{ row[0] }}</td> <!-- User ID -->
                            <td>{{ row[4] }}</td> <!-- Name -->
                            <td>{{ row[2] }}</td> <!-- Email -->
                            <td>{{ row[6] }}</td> <!-- Company -->
                            <td>{{ row[5] }}</td> <!-- Phone -->
                            <!-- <td>{{ row[9] }}</td> isAdmin -->
                            <td>
                                <div class="button d-flex justify-content-center ">
                                    <button type="submit" class="btn btn-primary edit-btn", id="submit",
                                    username="{{row[1]}}", userid="{{row[0]}}", name="{{row[4]}}", email="{{row[2]}}", company="{{row[6]}}", phone="{{row[5]}}", photo="{{row[8]}}" password="{{row[3]}}">Edit</button>&nbsp;                                  
                                    <button type="submit" class="btn btn-danger delete-btn" userid2="{{row[0]}}" id="submit">Delete</button>&nbsp;
                                </div>
                            </td> <!-- Button -->
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <button type="submit" class="btn btn-secondary add-btn"  id="submit">Add</button>&nbsp;
            </div>

            <!-- form data user -->
            <div class="form-popup" id="formPopup"  >
                <div class="form-wrapper">
                    <!-- <button class="close-btn" onclick="closePopup()">×</button> -->
                    <form class="tab-pane fade active show" id="account-general" action="{{ url_for('edit') }}" method="post"
                        enctype="multipart/form-data">
                        <div class="card-body media" style="align-items: center; justify-content:center;">
                            <img src="{{ url_for('static', filename='image/' + user.photo if user.photo else 'image/logo.png') }}" alt="my-avatar" class="d-block ui-w-80"/>
                            <div class="media-body ml-4">
                                <label class="btn btn-outline-primary">
                                    Upload new photo
                                    <input type="file" class="account-settings-fileinput" name="photo" onchange="updatePhotoName(this)">
                                </label> &nbsp
                                <div class="text-light small mt-1" >
                                    <input type="text" name="photos" class="form-control mb-1" value="{{user.photo}}" style="border: none; background: transparent; pointer-events: none; text-align: center;">

                                    <!-- <input type="text" name ="photo" class="text-light small mt-1" value="{{user.photo}}" readonly id="photo-name" style="border: none; background: transparent; pointer-events: none;"> -->
                                </div>
                            </div>
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">ID</label>
                                <input type="number" name="id" class="form-control mb-1" value="{{user.userid}}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control mb-1" value="{{user.username}}"required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" value="{{user.name}}"required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="email" name="email" class="form-control mb-1" value="{{user.email}}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Company</label>
                                <input type="text" name="company" class="form-control" value="{{user.company}}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="number" name="phone" class="form-control" value="{{user.phone}}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" value="{{user.password}}" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 pb-3">
                            <button type="submit" class="btn btn-primary" id="submit" input type="submit"
                                value="submit">Save changes</button>&nbsp;
                            <button type="button" class="btn btn-danger" onclick="closePopup()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- form delete data user -->
            <div class="form-popup" id="formdelete">
                <div class="form-wrapper">
                    <form class="tab-pane fade active show" id="account-general" action="{{ url_for('delete') }}" method="post"
                    enctype="multipart/form-data">
                        <div class="card-body"> 
                            <div class="form-group">
                                <label class="form-label">Are you sure delete this account?</label>
                                <input type="hidden" name="id2" class="form-control mb-1" value="{{user.userid}}" readonly>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 pb-3">
                            <button type="submit" class="btn btn-primary" id="submit" input type="submit"
                                value="submit">Yes</button>&nbsp;
                            <button type="button" class="btn btn-danger" onclick="closedelete()">No</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- form add data user -->
            <div class="form-popup" id="formadd"  >
                <div class="form-wrapper">
                    <form class="tab-pane fade active show" id="account-general" action="{{ url_for('add') }}" method="post"
                        enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" name="username3" class="form-control mb-1" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">name</label>
                                <input type="text" name="name3" class="form-control mb-1" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="email" name="email3" class="form-control mb-1" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="number" name="phone3" class="form-control" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <input type="password" name="password3" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2 pb-3">
                            <button type="submit" class="btn btn-primary" id="submit" input type="submit"
                                value="submit">Add</button>&nbsp;
                            <button type="button" class="btn btn-danger" onclick="closeadd()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <script>
            const editBtns = document.querySelectorAll('.edit-btn');
            const deleteBtns = document.querySelectorAll('.delete-btn');
            const addBtns = document.querySelectorAll('.add-btn');


            editBtns.forEach(btn => {
                btn.addEventListener('click', function() {
                    const userId = this.getAttribute('userid');
                    const username = this.getAttribute('username');
                    const name = this.getAttribute('name');
                    const email = this.getAttribute('email');
                    const company = this.getAttribute('company');
                    const phone = this.getAttribute('phone');
                    const photo = this.getAttribute('photo');
                    const password = this.getAttribute('password');


                    
                    document.querySelector('input[name="id"]').value = userId;
                    document.querySelector('input[name="username"]').value = username;
                    document.querySelector('input[name="name"]').value = name;
                    document.querySelector('input[name="email"]').value = email;
                    document.querySelector('input[name="company"]').value = company;
                    document.querySelector('input[name="phone"]').value = phone;
                    document.querySelector('input[name="photos"]').value = photo;
                    document.querySelector('input[name="password"]').value = password;


                    document.getElementById('formPopup').style.display = 'block';
                });
            });
    


            deleteBtns.forEach(btn => {
                btn.addEventListener('click', function() {
                    const userId = this.getAttribute('userid2');                    
                    document.querySelector('input[name="id2"]').value = userId;
                    document.getElementById('formdelete').style.display = 'block';
                });
            });

            addBtns.forEach(btn => {
                btn.addEventListener('click', function() {
                    const username = this.getAttribute('username3');
                    const email = this.getAttribute('email3');
                    const password = this.getAttribute('password3');


                    
                    


                    document.getElementById('formadd').style.display = 'block';
                });
            });
    

            function closedelete() {
                document.getElementById('formdelete').style.display = 'none';
            }
    
            function closePopup() {
                document.getElementById('formPopup').style.display = 'none';
            }

            function closeadd() {
                document.getElementById('formadd').style.display = 'none';
            }
        </script>
    </body>


    </html>
    {% endblock %}